.pagination {
  display: flex;
  justify-content: center;
  // align-items: center;
  font-size: 1.6rem;
div {
  margin: 0 6px;
  display: flex;
  align-items: center;
}

.next-part {
  display: flex;
  align-items: center;
}

.page-icon {
  cursor: pointer;
  margin: 2px 3px 0 3px;
}

.currentPage {
  font-weight: 700;
}
}